In [1]:
import random
import numpy as np
import pandas as pd
from scipy.special import comb
import scipy as sp
from pylab import *
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import collections
from IPython.display import clear_output
import random
sns.set_style("ticks")
%matplotlib inline

In [7]:
file_path = "/Users/mzhu/Documents/Python/2020_20_440/440_project/"
Srini = pd.read_excel(file_path+"pone.0037818.s006.xlsx")
pd.read_excel(file_path+"pone.0037818.s007.xlsx")
pd.read_excel(file_path+"pone.0037818.s005.xlsx")
pd.read_excel(file_path+"st04.xlsx")

    specimen menses  nugent amsel   pH vag_fluid    clue whiff   race
0    p4z2r18     no      10   pos  NaN  Abnormal    many   pos  White
1    p4z2r38     no       8   pos  5.3  Abnormal    many   neg  Black
2    p4z2r15     no       0   neg  4.4    Normal  absent   neg  Black
3    p4z2r39     no       0   neg  4.4    Normal  absent   neg  White
4    p4z1r18     no       0   neg  4.0  Abnormal  absent   neg  White
..       ...    ...     ...   ...  ...       ...     ...   ...    ...
215  p4z2r26     no       8   pos  5.3  Abnormal    many   pos  White
216  p4z2r27     no       8   pos  5.6  Abnormal     few   pos  Black
217   p4z1r2     no       6   neg  5.6       NaN  absent   neg  White
218   p4z2r1    yes       8   pos  5.3  Abnormal    many   pos  Black
219  p4z2r30     no       9   pos  5.3  Abnormal    many   pos  Black

[220 rows x 9 columns]

In [8]:
pd.read_excel(file_path+"pone.0037818.s007.xlsx")
pd.read_excel(file_path+"pone.0037818.s005.xlsx")
pd.read_excel(file_path+"st04.xlsx")

,Unnamed: 0,p4z1r8,p1z1r2,p2z1r36,p2z1r40,p2z1r67,p3z1r14,p3z1r25,p3z1r28,p3z1r29,...,p3z2r65,p3z2r75,p3z2r8,p4z1r34,p4z1r6,p4z1r76,p4z2r10,p4z2r18,p4z2r37,Unnamed: 221
0,samplename,1130.0,1239,1126,1137,1128,1211,1326,1284,1290,...,1133,1184,1202,1171,1218,1187,1291,1090,1226,NaN
1,nugent,8.0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,NaN
2,amsel,NaN,neg,neg,neg,neg,neg,neg,neg,neg,...,pos,pos,pos,pos,pos,pos,pos,pos,pos,Total numbers of reads
3,Lactobacillus iners,1207.0,2157,912,2587,90,748,1057,439,2,...,16,0,12,1,147,0,2,143,0,128829
4,Lactobacillus crispatus,0.0,13330,113,56,461,293,0,3,900,...,0,0,0,1,0,0,0,0,0,79005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Slackia exigua,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
155,Streptococcus,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
156,Streptococcus parasanguinis,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
157,Varibaculum cambriense,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
158,Number of reads per sample,1462.0,15551,1841,2735,579,1116,1058,562,904,...,954,1126,1120,1352,2080,1966,2420,3127,3239,425775

In [5]:
pd.read_excel(file_path+"pone.0037818.s005.xlsx")
pd.read_excel(file_path+"st04.xlsx")

                        tax_name  tax_id  count
0        Acinetobacter baumannii     470    5.0
1    Acinetobacter calcoaceticus     471    5.0
2      Actinobaculum massiliense  202789    5.0
3      Actinomyces hongkongensis  178339    1.0
4            Actinomyces lingnae  114702    1.0
..                           ...     ...    ...
346                          NaN     NaN    NaN
347                          NaN     NaN    NaN
348                          NaN     NaN    NaN
349                          NaN     NaN    NaN
350                          NaN     NaN  796.0

[351 rows x 3 columns]

In [6]:
pd.read_excel(file_path+"st04.xlsx")

,Table S4. Subject metadata and vaginal bacterial community composition.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254
0,Metadata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage of 16S rRNA gene sequence reads ass...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subject ID,Ethnic Groupa,pH,Nugent score,Nugent score categoryb,Community groupc,Total number readsd,NaN,L. iners,L. crispatus,...,Patulibacter,Gordonia,Flectobacillus,Dermacoccus,Bacillus_c,Clostridiales_18,Proteobacteria_16,Simplicispira,Bacilli_2,Microbacterium
2,S001,Asian,4,0,low,I,2335,NaN,8.44,90.84,...,0,0,0,0,0,0,0,0,0,0
3,S002,White,4,0,low,II,1403,NaN,0.14,0,...,0,0,0,0,0,0,0,0,0,0
4,S003,Black,4,1,low,III,1376,NaN,74.2,0.07,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,S390,Asian,7,6,intermediate,III,1866,NaN,72.19,0,...,0,0,0,0,0,0,0,0,0,0
392,S391,Asian,4.4,0,low,III,1731,NaN,76.31,0,...,0,0,0,0,0,0,0,0,0,0
393,S392,Asian,4.4,0,low,IV,1967,NaN,0,29.79,...,0,0,0,0,0,0,0,0,0,0
394,S393,Asian,4.4,0,low,III,1682,NaN,99.46,0.12,...,0,0,0,0,0,0,0,0,0,0
395,S394,Asian,4.4,2,low,III,1725,NaN,93.39,0,...,0,0,0,0,0,0,0,0,0,0